@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#fade-in-section{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
}

body{
  font-family: sans-serif;
  color: #d7dbe8;
  background: #0a192f;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  text-decoration: none;
  color: white;
  font-family:  "NTR", sans-serif;
  overflow: hidden;
  background-color: #0a192f;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
}

.navbar .logo{
  color:  #d7dbe8;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar .accent-txt-logo{
  color: #08fdd8;
}

.nav-links {
  display: flex;
  padding: 0;
  font-size: 1.15rem;
  font-weight: 600;
  color: #d7dbe8;
  transition: 0.3s;
}

.nav-links a{
  color: #d7dbe8;
  text-decoration: none;
  padding-right: 12px;
}

.nav-links a:hover{
  color: #08fdd8;
}

.nav-social-icons{
  transition: 0.3s;
}

.nav-social-icons a{
  color: #d7dbe8;
  padding-right: 8px;
}

.nav-social-icons a:hover{
  color: #08fdd8;
}

/* navbar ends here */

.intro{
  padding-left: 100px;
}

.intro .accent-txt{
  color: #08fdd8;
}

.intro h1{ 
  padding-top: 200px;
  color: #d7dbe8;
  font-size: 5rem;
  line-height: 70px;
  letter-spacing: -5px;
}

.intro .gray-text{
  margin-top: 25px;
  color: #8892b0;
  letter-spacing: 3px;
  font-family:  "NTR", sans-serif;
  font-size: 14px;
}

.contact-btn{
  text-decoration: none;
  background: none;
  font-family:   "NTR", sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-color: #08fdd8;
  border-style: double;
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  text-align: center;
  color: #08fdd8;
  margin-top: 50px;
  transition: 0.3s;
}

.contact-btn:hover{
  background-color: #08fdd8;
  color: black;
}

.about-content{
  display: flex;
  font-family: "NTR", sans-serif ;
  padding-top: 150px;
  padding-left: 100px;
}

.about-description h2{
  color: #d7dbe8;
  font-size: 3.5rem;
}

.about-description h2::after{
  background-color: #233554;
  content: "";
  display: block;
  height: 1px;
  margin-left: 210px;
  margin-top: -11px;
  width: 300px;
}

.about-description{
  color: #8892b0;
  font-size: 1.7rem;
  line-height: 32px;
  margin-right: 250px;
}

.about-description h2{
  margin-bottom: 65px;
}

.about-description p{
  margin-bottom: 25px;
}

.about-description ul{
  display: grid;
  grid-template-columns: repeat(2,minmax(150px,10px));
  list-style: none;
}

.about-description li{
  font-size: 1.5rem;
}

.about-description li::before{
  color: #64ffda;
  content: "▹ ";
  left: 0;
}

.about-img{
  margin-top: 70px;
}

.about-description .tech-stack{
  margin: 20px 0px;
}

.about-img img{
  border: none;
  border-radius: 10px;
  box-shadow: 6px 13px 23px -5px #00000075;
  max-width: 300px;
}

.projects{
  display: flex;
  font-family: "NTR", sans-serif ;
  padding-left: 100px;
  padding-top: 80px;
}

.section-title h2{
  color: #d7dbe8;
  font-size: 3.5rem;
}

.section-title h2::after{
  background-color: #233554;
  content: "";
  display: block;
  height: 1px;
  margin-left: 185px;
  margin-top: -42px;
  width: 300px;
}

.projects-card {
  background-color: #112240;
  border-radius: 16px;
  cursor: default;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.75rem;
  margin-top: 65px;
  position: relative;
  transition:transform 1ms ease-out;
}

.projects-card:hover{
  background-color:#233554;
  transform: translateY(-7px);
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  padding-top: 1em;
}

.card-header h4{
  color: #08fdd8;
  font-size: 30px;
}

.external-links .github-icon{
  font-size: 20px;
  color: #b0b3bd;
}

.card-descr{
  color: #8892b0;
  font-size: 18px;
  padding-bottom: 15px;
}

.card-tech{
  color: #8892b0;
  font-size: 16px;
}

.projects-grid{
  grid-gap: 15px;
  display: grid;
  grid-template-columns: repeat(5,minmax(100px,1fr));
}

#credits {
  align-items: center;
  display: flex;
  padding-top: 100px;
}

.ending-credits {
  color: var(--slate);
  font-family: NTR,sans-serif;
  font-size: 16px;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
}


/* 2xl */
@media (max-width: 1440px) {
 
}

/* xl */
@media (max-width: 1024px) {
  
}

/* lg */
@media (max-width: 768px) {
 
}

/* md */
@media (max-width: 425px) {
  
}

/* sm */
@media (max-width: 375px) {

  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    display: none;
  }
  
  .nav-links{
    display: none;
  }

  .nav-social-icons a {
    padding-right: 15px;
    font-size: 1.3rem;
  }

  .intro{
    max-width: 320px;
    padding-left: 50px;
  }

  .intro h1{
    font-size: 5rem;
    letter-spacing: -4px;
  }

  .intro .gray-text{
    font-size: 15px;
    letter-spacing: 0px;
  }

  .contact-btn{
    font-size: 15px;
    max-width: 300px;
    margin-top: 35px;
  }

  .about-description h2::after{
    visibility: hidden;
  }

  .about-content{
    padding-top: 120px;
    padding-left: 30px;
  }

  .about-description{
    font-size: 10px;
    line-height: 25px;
  }

  .about-description li{
    font-size: 1.2rem;
  }

  .projects{
    padding-left: 30px;
    padding-top: 30px;
  }

  .section-title h2::after{
    visibility: hidden;
  }

  .projects-grid{
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
  }

  .projects-card{
    margin: 0;
  }

  .projects-container{
    margin-top: 50px;
  }

  #credits{
    padding-top: 40px;
    margin-left: 180px;
  }

  .ending-credits p{
    width: 220px;
    font-size: 15px;
  }
}

/* xs */
@media (max-width: 320px) {

  .navbar{
    padding-left: 400px;
  }
  .logo{
    display: none;
  }
  
  .nav-links{
    display: none;
  }

  .nav-social-icons a {
    padding-right: 7px;
    font-size: 1.3rem;
  }

  .intro{
    max-width: 320px;
    padding-left: 50px;
  }

  .intro h1{
    font-size: 6rem;
    letter-spacing: -2px;
  }

  .intro .gray-text{
    font-size: 15px;
    letter-spacing: 0px;
  }

  .contact-btn{
    font-size: 15px;
    max-width: 300px;
    margin-top: 35px;
  }

  .about-description h2::after{
    visibility: hidden;
  }

  .about-content{
    padding-top: 120px;
    padding-left: 50px;
  }

  .about-description{
    font-size: 15px;
    line-height: 25px;
  }

  .projects{
    padding-left: 50px;
    padding-top: 30px;
  }

  .section-title h2::after{
    visibility: hidden;
  }

  .projects-grid{
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
  }

  .projects-card{
    margin: 0;
  }

  .projects-container{
    margin-top: 50px;
  }

  #credits{
    padding-top: 40px;
    margin-left: 180px;
  }

  .ending-credits p{
    width: 220px;
    font-size: 15px;
  }
}