
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  background: #333333;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.nav-links ul {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: flex;
  display: inline-block; /* or use display: block; if you want them stacked */
  margin-right: 20px;    /* Adjust the value as per your preference for spacing */
}

/* Optional: To remove margin from the last li element */
.nav-links li:last-child {
  margin-right: 0;
}


.navbar .nav-links ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar h2{
  cursor: pointer;
}

.nav li{
  display: inline;
}
	
.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.navbar ul li:hover a{

}

.nav-social-icons ul li{
  width: 25px;
  height: 25px;
}